body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('./assets/2151038309.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.room-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(153, 5, 5, 0.6);
    border-radius: 10px;
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}